<div class="e-mypage">
    <div class="e-mypage-title">
        <h2>Mi perfil</h2>
    </div>
    <div class="e-mypage-container">

        <p-fieldset legend="Información">
            <div>
                <p>
                    <strong> Nombre : </strong>
                    <span> Margarita de la Puente</span>
                </p>
    
                <p>
                    <strong> Tipo de documento : </strong>
                    <span> DNI</span>
                </p>
    
                <p>
                    <strong> Nro Documento : </strong>
                    <span> 56146166</span>
                </p>
    
                <p>
                    <strong> Correo electrónico : </strong>
                    <span> margaritadelape@gmail.com</span>
                </p>
            </div>
            <div>
                <p-avatar image="assets/img/profile/amyelsner.png" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>

            </div>
          
        </p-fieldset>

        <p-fieldset legend="Detalle del plan">
            <p>
                <strong> Plan : </strong>
                <span> 100 Mbps Internet full</span>
            </p>

            <p>
                <strong> Monto : </strong>
                <span> 119</span>
            </p>

            <p>
                <strong> Inicio de facturación : </strong>
                <span> 2018-02-16</span>
            </p>

        </p-fieldset>

        <p-fieldset legend="Contraseña">
            <h5>Cambiar contraseña</h5>
            <input pPassword type="password" />
            <h5>Confirmar contraseña</h5>
            <input pPassword type="password" />
        </p-fieldset>
    </div>
</div>